
<section class="projects">

    <a href="#" class="project">
        <div class="project-img-cont">
                <img src="assets/images/projects/project-1.png" class="project-img" />
        </div>
        
        <div class="project-detail">
            <div>
                <h3 class="project-title">URBAN</h3>
                <p class="project-desc">A collection of arts works based around the keyword urban, highly saturated and somewhat abstract, naturally.</p>
            </div>
        </div>

    </a>

    <a href="#" class="project">
        <div class="project-detail">
            <div>
                <h3 class="project-title">FAITH</h3>
                <p class="project-desc">Faith, you have to find it in something or someone...</p>
            </div>
        </div>
        
        <div class="project-img-cont">
            <img src="assets/images/projects/project-2.png" class="project-img" />
        </div>
    </a>

    <a href="#" class="project">
        <div class="project-img-cont">
                <img src="assets/images/projects/project-3.png" class="project-img" />
        </div>
        
        <div class="project-detail">
            <div>
                <h3 class="project-title">SATURATED PERSPECTIVE</h3>
                <p class="project-desc">A alternative view, a perspective of saturation. A different world to enter.</p>
            </div>
        </div>

    </a>
    
</section>

