
<section class="header">    
    <div class="header-text">
        <div>
            <div class="logo"></div>
            <h1 class="title">Tuesday Temptation</h1>
            <h2 class="sub-title">Art & Photography</h2>
        </div>
    </div>
</section>

<section class="section">
    <div class="section-left yitn-left">

    </div>

    <div class="section-right yitn-right">
        <div>
            <h1 class="section-title">Warnings in the dark</h1>
            <p class="section-text">
                The night is long, colours appear more bright, yellow catches your eye 
                where ever you might go. In the city the warnings are everywhere, make 
                sure you don't hurt yourself.
            </p>
            
        </div>
        <button class="yitn-button">Explore</button>
    </div>
</section>

<section class="section">
    <div class="section-left nature-left">
        <div>
            <h1 class="section-title nature-title">Nature</h1>
            <p class="section-text">
                It's calm, pretty, and beautiful. let's go drift through and observe. What
                can be found, will be found. Be careful not to trip on the tree roots.
            </p>
            
        </div>
        <button class="nature-button">Explore</button>
    </div>

    <div class="section-right nature-right">

    </div>
</section>


<section class="section">
    <div class="section-left offworld-left">

    </div>

    <div class="section-right offworld-right">
        <div>
            <h1 class="section-title offworld-title">Off World</h1>
            <p class="section-text">
                Other worlds, new colours what does the infinate void offer in it's 
                little miracle balls. Life is not unique to our world, of course. So
                shall we go have a look? 
            </p>
        </div>
        <button class="offworld-button">Explore</button>
    </div>
</section>


<section class="section link-section">
    <div style="text-align: center;">
        <h1 class="section-title">CATCH ME IN THE WEB</h1>
        <i class="fa fab fa-twitter fa-4x" style="color: #fff7fc; margin: 0 30px;"></i>
        <i class="fa fab fa-instagram fa-4x" style="color: #fff7fc; margin: 0 30px;"></i>
        <i class="fa fab fa-500px fa-4x" style="color: #fff7fc; margin: 0 30px;"></i>
        <i class="fa fab fa-behance fa-4x" style="color: #fff7fc; margin: 0 30px;"></i>
        <i class="fa fab fa-dribbble fa-4x" style="color: #fff7fc; margin: 0 30px;"></i>
    </div>
</section>

