.header{
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    height: 15vh;
    width: 15vh;
    background-image: url(/assets/logo.png);
    background-size: cover; 
    margin: 0 auto 100px auto;
    box-shadow: -5px 5px 25px rgba(0, 0, 0, 0.3);
    transition: 0.33s;
}

.logo:hover{
    height: 17vh;
    width: 17vh;
    transform: rotate(-45deg);
    box-shadow: -10px 10px 35px rgba(0, 0, 0, 0.2);
}

.header-text{
    background-image: url(/assets/logo.png);
    background-color: #2e0e51;
    background-size: cover; 
    background-position: center;
    background-blend-mode: darken;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: bg-inspect 14s ease-in-out infinite;
}

.title{
    font-size: 36pt;
    color: #fff7fc;
    font-weight: 800;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 10pt;
    text-align: center;
    margin: 40px 0;
    transition: 0.5s;
} 

.title:hover{
    font-size: 40pt;
    letter-spacing: 15pt;
    cursor: pointer;
}

.sub-title{
    font-size: 16pt;
    color: #f01877;
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 20pt;
    transition: 0.33s;
    text-align: center;
    margin: 0 40px;
}

@keyframes bg-inspect{
    0%{
        background-size: 160%;
        background-position: top;
        background-position-x: 0%;
    }
    12.5%{
        background-size: 110%;
    }
    25%{
        background-size: 160%;
        background-position: bottom;
        background-position-x: 100%;
    }
    37.5%{
        background-size: 110%;
    }
    50%{
        background-size: 160%;
        background-position: top;
        background-position-x: 100%;
    }
    62.5%{
        background-size: 110%;
    }
    75%{
        background-size: 160%;
        background-position: bottom;
        background-position-x: 0%;
    }
    87.5%{
        background-size: 110%;
    }
    100%{
        background-size: 160%;
        background-position: top;
        background-position-x: 0%;
    }
}

@keyframes bg-brethe{
    0%{
        background-size: 100%;
    }
    25%{
        background-position-x: left;  
    }
    30%{
        background-position-y: -100px; 
    }
    50%{
        background-size: 200%;
    }
    70%{
        background-position-y: 100px; 
    }
    75%{
        background-position-x: right;  
    }
    100%{
        background-size: 100%;
    }
}

@keyframes bg-snapshot{
    0%{
        background-size: 100%;
    }
    20%{
        background-size: 120%;
    }
    40%{
        background-size: 140%;
    }
    60%{
        background-size: 160%;
    }
    80%{
        background-size: 180%;
    }
    100%{
        background-size: 200%;
    }
}

.section{
    height: 100vh;
    background-color: #db186e;
    display: flex;
}

.section:nth-child(2n-1){
    background-color: #1717c4;
}

.section-left{
    width: 50vw;
    background-color: #2e0e51;
}

.section-right{
    width: 50vw;
    background-color: #151514;
}

.yitn-left{
    background-image: url(/assets/Projects/YellowInTheNight/level.png);
    background-color: #ffcd04;
    background-size: cover; 
    background-position: center;
    background-blend-mode: hard-light;
    animation: bg-brethe 10s ease-in-out infinite;
}

.yitn-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0b0b0b;
}

.yitn-button{
    background-color: #0b0b0b;
    border: none;
    border-bottom: #ffcd04 solid 3px;
    color: #ffcd04;
    padding: 20px 50px;
    margin: 100px auto;
    font-size: 12pt;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 3pt;
    text-align: center;
    transition: ease-out .22s;
}

    .yitn-button:hover{
        background-color: #ffcd04;
        color: #0b0b0b;
        padding: 25px 60px;
    }

    .yitn-button:focus{
        outline-color: #ffcd04; 
    }

.section-title{
    font-size: 36pt;
    color: #ffcd04;
    font-weight: 800;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 10pt;
    line-height: 150%;
    text-align: center;
    margin: 0px 100px 75px 100px;
}

.section-text{
    font-size: 12pt;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 3pt;
    line-height: 250%;
    text-align: center;
    margin: 0 100px;
}

.nature-right{
    background-image: url(/assets/Projects/Nature/path.jpg);
    background-color: #788540;
    background-size: cover; 
    background-position: center;
    background-blend-mode: hard-light;
    animation: bg-snapshot 4s step-end infinite;
}

.nature-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #263535;
}

.nature-title{
    color: #98e23f; 
}

.nature-button{
    background-color: #263535;
    border: none;
    border-bottom: #98e23f solid 3px;
    color: #98e23f;
    padding: 20px 50px;
    margin: 100px auto;
    font-size: 12pt;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 3pt;
    text-align: center;
    transition: ease-out .22s;
}

    .nature-button:hover{
        background-color: #98e23f;
        color: #263535;
        padding: 25px 60px;
    }

    .nature-button:focus{
        outline-color: #98e23f; 
    }

.offworld-left{
    background-image: url(/assets/Projects/OffWorld/blue.png);
    background-color: #294145;
    background-size: cover; 
    background-position: center;
    background-blend-mode: hard-light;
}

.offworld-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fb2172;
}

.offworld-title{
    color: #21222a; 
}


.offworld-button{
    background-color: #fb2172;
    border: none;
    border-bottom: #21222a solid 3px;
    color: #21222a;
    padding: 20px 50px;
    margin: 100px auto;
    font-size: 12pt;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 3pt;
    text-align: center;
    transition: ease-out .22s;
}

    .offworld-button:hover{
        background-color: #21222a;
        color: #fb2172;
        padding: 25px 60px;
    }

    .offworld-button:focus{
        outline-color: #21222a; 
    }

