<section class="project">

  <div class="header">
    <img src="assets/images/projects/project-2.png" />
  </div>

  <div class="title-bar">
    <h2>PROJECT TITLE</h2>
  </div>

  <div class="project-info">
    <p>Info about project goes here...</p>
  </div>
  <div class="project-img">
    <img src="assets/images/projects/project-2.png">
    <span class="caption">Faith is a conflicting matter...</span>
  </div>

  <p class="project-para">
      Maecenas at mi. Fo shizzle . I'm in the shizzle nizzle, turpis non congue crunk, tellivizzle libero phat purus, check it out ullamcorpizzle fo shizzle mi nizzle quizzle. Cras faucibizzle boom shackalack. Dizzle nibh lectizzle, consequat sizzle, cool volutpizzle, porttitizzle yo, tellus. Prizzle sed pot. Cras condimentizzle mi bow wow wow check it out. Pellentesque hendrerizzle the bizzle felis. Donizzle its fo rizzle dizzle owned erat. Etiam posuere pimpin' mi. Shizzle my nizzle crocodizzle check it out. Sed nisl hizzle, euismizzle ac, yo mamma sizzle, malesuada pot, . Vivamus vulputate consectetuer nisl.
  </p>

  <div class="project-img">
      <img src="assets/images/projects/project-1.png">
      <span class="caption">Faith is a conflicting matter...</span>
    </div>

</section>


<div class="title-bar">
  <h2>Hope you enjoyed</h2>
</div>

