<section class="stats">
  <h3 class="section-title">SOCIAL STATS</h3>
  
  <div class="social-wrapper">

      <div>
          <h5 class="social-title">INSTAGRAM</h5>

          <div class="social-stats-wrapper">
              <div class="social-stat">
                  <h6>Followers</h6>
                  <h3>145</h3>
              </div>
              <div class="social-stat">
                  <h6>Posts</h6>
                  <h3>70</h3>
              </div>
              <div class="social-stat">
                  <h6>Likes</h6>
                  <h3>45</h3>
              </div>
          </div>

      </div>

      <div>
          <h5 class="social-title">PEXELS</h5>

          <div class="social-stats-wrapper">
              <div class="social-stat">
                  <h6>Views</h6>
                  <h3>24,056</h3>
              </div>
              <div class="social-stat">
                  <h6>Downloads</h6>
                  <h3>76</h3>
              </div>
              <div class="social-stat">
                  <h6>Rank</h6>
                  <h3>3145</h3>
              </div>
          </div>

      </div>

      <div>
          <h5 class="social-title">PEXELS</h5>

          <div class="social-stats-wrapper">
              <div class="social-stat">
                  <h6>Views</h6>
                  <h3>24,056</h3>
              </div>
              <div class="social-stat">
                  <h6>Downloads</h6>
                  <h3>76</h3>
              </div>
              <div class="social-stat">
                  <h6>Rank</h6>
                  <h3>3145</h3>
              </div>
          </div>

      </div>
      
  </div>

</section>

