.footer{
    text-align: center;
    padding: 16px 0;
    background-color: #222;
}

.footer > h5 {
    font-weight: 300;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    font-size: 8pt;
}

