
<app-banner>
  <span>About</span>
  <p class="sub-text">What is tuesday temptation? Well let me tell you a little about what, who or why...</p>
</app-banner>

<section class="about">
  <div class="about-inner">    
    <h3>What?</h3>
      <p class="para">A creative project or process... a thing I can take and do whatever I want to with it, without it having to represent me as a person or be tired with a face. A creative project just for creation, I have no outlined final goals just to keep making whatever I want and sharing it with whoever will come and look. I aim to work with new artist where I can and really just have the most fun I can with creativity be it photography, digital art, music or anything else...</p>

    <h3>Who?</h3>
      <p class="para">Well... read the bit above, this doesn't matter, that is kind of the point.</p>

    <h3>Why?</h3>
      <p class="para">To create the best I can with no strings attached, no one telling me what to do, it's a purely selfish project, persona, thing... In the end I just want to create, I don't want to sell you anything just share something with you, enjoy it if you can.</p>

      <p>Thank you for reading!</p>
  </div>
</section>

<div class="title-bar">
  <h2>Social Links</h2>
</div>

<section class="social-links">
  <a href="" style="color: white;">Unsplash</a>
  <a href="" style="color: white;">Pexels</a>
  <a href="" style="color: white;">Instagram</a>
  <a href="" style="color: white;">500px</a>
  <a href="" style="color: white;">Behance</a>
</section>

<div class="title-bar">
    <h2>Frequently Asked Questions</h2>
</div>


<section class="faq">
    <div class="question">
        <h4>Do you really get asked these questions?</h4>
        
        <p class="para">No.. I have never been asked one fucking thing about TuesdayTemptation never mind having frequently asked ones... but whatever this is a good way to present information.</p>
    </div>

    <div class="question">
        <h4>What Camera do you use?</h4>
        
        <p class="para">Nikon D5500.</p>
    </div>

    <div class="question">
        <h4>What do you use to edit?</h4>
        
        <p class="para">Adobe Lightroom, Adobe Photoshop &amp; Instagram when I don't have access to the others...</p>
    </div>

    <div class="question">
        <h4>Do anything else?</h4>
        
        <p class="para">Mhmmm.. I build software by day and also by night and at the weekend when I am not doing other stuff, I really like it.</p>
    </div>

  </section>


<app-banner>
  <span>Now you know a little more..</span>
  <p class="sub-text">go look at my work and stuff please, thanks xoxo</p>
</app-banner>

