
h3{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16pt;
    letter-spacing: 7px;
}

.para{
    padding-bottom: 40px;
}


.social-links{
    padding: 50px;
    text-align: center;
}

.social-links > a{
    margin: 0 50px;
}
