
/*
    ~==========================================================~
    Image Wall
    ~==========================================================~
*/

.image-wall{
    min-height: 50vh;
    background-color: #343633;
    font-size: 0;
  }
  
  .img-wrapper-width-50{
    width: 50%;
  }
  
  .img-wrapper-width-33{
    width: 33.3333333333%;
  }
  
  .img-wrapper{
    max-height: 75vh;
    display: inline-block;
    overflow: hidden;
    padding: 0;
    margin: 0;
    font-size: initial;
    transition: .5s;
  }
  
    .img-wrapper:hover .wall-img{
      transform: scale(1.2) translateY(-5%);
      opacity: 0.95;
    }
  
  .wall-img{
    width: 100%;
    transition: .5s;
    vertical-align: middle;
  }

  