
<section class="image-wall">
  <div class="img-wrapper  img-wrapper-width-33">
      <img src="assets/images/img/1.jpg" class="wall-img" />
  </div>

  <div class="img-wrapper  img-wrapper-width-33">
      <img src="assets/images/img/2.jpg" class="wall-img" />
  </div>

  <div class="img-wrapper  img-wrapper-width-33"> 
      <img src="assets/images/img/3.jpg" class="wall-img" />
  </div>

  <div class="img-wrapper  img-wrapper-width-33">
      <img src="assets/images/img/4.jpg" class="wall-img" />
  </div>

  <div class="img-wrapper  img-wrapper-width-33">
      <img src="assets/images/img/1.jpg" class="wall-img" />
  </div>

  <div class="img-wrapper  img-wrapper-width-33">
      <img src="assets/images/img/2.jpg" class="wall-img" />
  </div>

  <a href="/work" class="btn btn-full">See More</a>
</section>

